.menu-item {
  background: #ffffff;
  width: 100%;
  padding: 30px;

  .menu-item-layoute {
    display: flex;
    align-items: center;
    background: #ffffff;
    width: 100%;
    padding: 30px;

    .img {
      border-radius: 3%;
      width: 300px;
      height: 280px
    }
    .error-image {
      display: block;
      object-fit: cover;
      width: 300px;
      height: 280px;
      border-radius: 5%;
  }
    .menu-item-info {
      margin-left: 20px;

      .title {
        color: #6f6f6f
      }

      .price-text {
        font-size: 20px;
        color: #6f6f6f;
      }

      .line {
        font-size: 20px;
        color: #6f6f6f;
        text-decoration: underline;
      }
    }
  }

  .date {
    font-size: 20px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .create-at {
      font-size: medium;
      border-radius: 10px;
      margin-top: 40%;
      margin-left: 20px;
      padding: 5px;
      background-color: #f9f0ff;
      color: #551fac;
    }

    .update-at {
      font-size: medium;
      border-radius: 10px;
      margin-top: 40%;
      margin-left: 20px;
      padding: 5px;
      background-color: #2db29c;
      color: #fafdfd;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .line {
      height: 1px;
      background-color: #b4b4b4;
      margin-top: 0;
      margin-bottom: 0;
    }

    .categories {
      margin-inline-start: 10px;
      font-size: 20px;
      color: #6b6b6b;
    }

    .categories-info-background {
      max-width: 98%;
      margin: 5px 5px 5px 1%;

      display: flex;
      align-items: center;
      background-color: #f2f5f4;
      font-size: medium;
      border-radius: 10px;
      padding: 5px;
    }

    .setting-outlined {
      font-size: 30px;
      padding: 10px;
    }

    .categories-info {
      display: flex;
      flex-wrap: wrap;
      border-left-width: 4px;
      margin-left: 10px;
    }

    .categories-info-p {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 10px;
      white-space: nowrap;
      margin-right: 10px;
    }
  }

  .popconfirm-delete {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;

    .button {
      background-color: #1c68b9;
      color: white;
      border-radius: 10px;
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }

  .popconfirm-edit {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 130px;

    .button {
      border-radius: 10px;
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }

  .table-container {
    position: absolute;
    min-height: 200px;
    top: 800px;
    left: 0;
  }
}