.icon-container {
  width: 150px;
  margin-left: 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
  background-size: cover;
  background-image: url("icons/logo.svg");
}
.email-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.icon-user {
  margin-right: 10px;
  background-image: url("icons/user.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  border-radius: 10%;
}

.admin-logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
