.icon {
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    float: left;
    margin: 16px 24px 16px 0;
    border-radius: 50%;
}

.logo {
    background-image: url("icons/logo.svg");
    background-color: #fff
}

.icon-user {
    background-image: url("icons/user.png");
    float: right;
}

.admin-logo {
    float: right;
    margin: 16px 0 16px 24px;
}

.site-layout-background {
    background: #fff;
}