.table {
    height: 100px;

    .table-image {
        display: block;
        object-fit: cover;
        margin: 0 auto;
        width: 150px;
        height: 130px;
        border-radius: 5%;
    }
}